/*
Curated collection of gradient background
    -> Author: Kevin Jannis <https://codepen.io/kevinjannis>
    -> Url: https://codepen.io/kevinjannis/pen/EgxbZQ
    -> Name: 
    -> Date Consulted: 02/04/2020
*/
@import url("https://fonts.googleapis.com/css?family=Lato:300");
$gradients: (
    0: (
        from: #4567b2,
        to: #8ab9ff,
    ),
    1: (
        from: #76ad39,
        to: #cdff8a,
    ),
    2: (
        from: #b24592,
        to: #f15f79,
    ),
    3: (
        from: #432b58,
        to: #734b6f,
    ),
    4: (
        from: #904e95,
        to: #e96450,
    ),
    5: (
        from: #ff5f6d,
        to: #ffc371,
    ),
    6: (
        from: #ff9068,
        to: #ff4b1f,
    ),
    7: (
        from: #ffa000,
        to: #ff5000,
    ),
    8: (
        from: #b993d8,
        to: #8ca6dc,
    ),
    9: (
        from: #3ca55f,
        to: #b5ac59,
    ),
);

.hero {
    position: relative;
    width: 100%;
    height: 110vh;
    color: white;
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: 300;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    border-bottom: solid 5px white;

    @each $index, $gradient in $gradients {
        &--#{$index} {
            background: linear-gradient(135deg, map-get($gradient, "from") 20%, map-get($gradient, "to") 80%);
        }
    }
}

.center {
    position: absolute;
    top: 45%;
    width: 100%;
    transform: translateY(-50%);
}
